#dog-container {
    display: flex;
   
    justify-content: space-around;
align-items: center;
   
   width: auto;
}

#dog-container img {
    margin-left: 50px;
}
.text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.text{
  
   margin:20px 20px;
}