#main-nav {
  background-color: #774c2a;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 15px;
}
.titleBtnLink {
  font-size: 35px;
  color:goldenrod;
}
#nav-list {
  list-style: none;
  display: flex;
}
.navBtnLink {
  padding: 10px;
  color: goldenrod;
  font-weight: bold;
}

/* STYLING FOR POST TITLE LINKS */
a {
  color: goldenrod;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
/* HOVER EFFECTS FOR ALL LINKS  */
a:hover {
  color: tan;
}


@media screen and (max-width: 980px) {
  #main-nav {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }

  @media screen and (max-width: 775px) {
    #main-nav {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: auto;
    }
    #title {
      font-size: 14px;
    }
    h3,
    h4 {
      font-size: 14px;
      margin-left: 3px;
    }

    li a ul {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 575px) {
    header nav ul li a {
      justify-content: flex-start;
      font-size: 20px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: row;
      font-weight: bold;
      padding-top: 0px;
    }
  }
}
