.App {
  text-align: center;
  background-color: #f4e4c2;
}

body{
  background-color: #f4e4c2;
  padding:0;
   margin:0; 
   height:100%;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@@media screen and (max-width: 980px) {
  header {
    position: relative;
    padding-bottom: 0;
    justify-content: center;
  }



  header h1 {
    width: 100%;
    text-align: center;
  }



  @media screen and (max-width: 775px) {
    

   

  }

  @media screen and (max-width: 575px) {
  
    
    header nav ul li a {
      justify-content: flex-start;
      font-size: 20px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: row;
      font-weight: bold;
      padding-top: 0px;
    }


  }
}