.myForm {
    
    display: flex;
    flex-wrap: wrap;
    margin-left:  150px;
    justify-content: center;
    align-items: center;
  }
  
  .form-style {
     

    width: 40%;
    border: 3px solid var(--secondary-color);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
    border: solid 1px #774c2a;
  
  }

  .form-input {
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    color: black;
  }
  
  .form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
  }

  #dog{
      align-self:flex-end;
  }

  #warn {
      font-size: 11px;
      padding-bottom: 10px;
  }

  input[type='checkbox'] {
    accent-color: #774c2a;
}

#btn-submit {
    float: right;
  
}

#btn-submit:hover {
    background-color: #774c2a;
    color:white;
  }
 