#posts {
    padding-top: 20px;
    margin: auto;
    width: 50%;
}
.postCategory{
    font-size:  20px;
    font-weight: bold;
    color:navy;
}
.appLink{
    color:darkcyan;
    text-decoration: underline;
}
.justifyPost{
    color: darkcyan;
    font-size: 18px;
}
.userInfo{
    color: darkcyan;
    font-weight: bold;
    font-size: 20px;
}

.mb-3{
    margin:10px;
}
.ternary {
    color: #774c2a;
    font-weight: bold;
}

.card-header {
    background-color: #774c2a !important;
}

#glass {
    height: 30px;
    width: 30px;
}

#addComent {
    border: solid 1px white;
}

#addForm {
    width: 100%;
}

.icon:hover{
    transform: scale(1.5); 
}