#posts {
    padding-top: 20px;

    margin: auto;
    width: 50%;

}

.card-body {
    z-index: 1;
    background-color: rgb(244 228 194 / 49%) !important;
    border: solid 1px white;
}

.ternary {
    padding-top: 10px;
    color: #774c2a !important;
    font-weight: bold;
}

.card-header {
    background-color: #774c2a !important;
}

#glass {
    height: 30px;
    width: 30px;
}

#addComent {
    border: solid 1px white;
}

#addForm {


    width: 100%;

}

.icons{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.icon:hover {
    transform: scale(1.5); 
}